<div class="team-area">
    <div class="container">
        <div class="team-area-main">
            <div class="team-top">
                <h2>Our Chefs</h2>
              </div>
          <div class="team-swiper">
            <swiper
            [slidesPerView]="1"
            [loop]="true"
            [speed]='2500'
            [spaceBetween]="20"
            [pagination]="{
              clickable: true
            }"  
            [breakpoints]="{
              '580': {
                  slidesPerView: 3,
                  spaceBetween: 20
                },
              '640': {
                slidesPerView: 3,
                spaceBetween: 20
              },
              '768': {
                slidesPerView: 4,
                spaceBetween: 20
              },
              '1024': {
                slidesPerView: 5,
                spaceBetween: 20
              }
            }"
            class="mySwiper"
          >
            <ng-template swiperSlide>
              <div class="swiper-slider">
                  <div class="food-menu-img">
                      <img src="../../../assets/images/team-1.jpg" alt="">
                      <div class="opacity-black">
                      </div>
                  </div>
                  <div class="member-social-bookmark">
                      <ul>
                          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                      </ul>
                  </div>
                  <div class="food-menu-details-two">
                      <h3>Park Ji Sung</h3>
                      <p>Cras senunc massa quisque tempor dolor sit amet </p>
                  </div>
              </div>
          </ng-template>
          <ng-template swiperSlide>
              <div class="swiper-slider">
                  <div class="food-menu-img">
                      <img src="../../../assets/images/team-2.jpg" alt="">
                      <div class="opacity-black">
                      </div>
                  </div>
                  <div class="member-social-bookmark">
                      <ul>
                          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                      </ul>
                  </div>
                  <div class="food-menu-details-two">
                      <h3>Mark Angelila</h3>
                      <p>Cras senunc massa quisque tempor dolor sit amet </p>
                  </div>
              </div>
          </ng-template>
          <ng-template swiperSlide>
              <div class="swiper-slider">
                  <div class="food-menu-img">
                      <img src="../../../assets/images/team-3.jpg" alt="">
                      <div class="opacity-black">
                      </div>
                  </div>
                  <div class="member-social-bookmark">
                      <ul>
                          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                      </ul>
                  </div>
                  <div class="food-menu-details-two">
                      <h3>Angel Meskat</h3>
                      <p>Cras senunc massa quisque tempor dolor sit amet </p>
                  </div>
              </div>
          </ng-template>
          <ng-template swiperSlide>
              <div class="swiper-slider">
                  <div class="food-menu-img">
                      <img src="../../../assets/images/team-4.jpg" alt="">
                      <div class="opacity-black">
                      </div>
                  </div>
                  <div class="member-social-bookmark">
                      <ul>
                          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                      </ul>
                  </div>
                  <div class="food-menu-details-two">
                      <h3>Jon Doe</h3>
                      <p>Cras senunc massa quisque tempor dolor sit amet </p>
                  </div>
              </div>
          </ng-template>
          <ng-template swiperSlide>
              <div class="swiper-slider">
                  <div class="food-menu-img">
                      <img src="../../../assets/images/team-5.jpg" alt="">
                      <div class="opacity-black">
                      </div>
                  </div>
                  <div class="member-social-bookmark">
                      <ul>
                          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                      </ul>
                  </div>
                  <div class="food-menu-details-two">
                      <h3>Angel Di Maria</h3>
                      <p>Cras senunc massa quisque tempor dolor sit amet </p>
                  </div>
              </div>
          </ng-template>
          
          </swiper>
          </div>
        </div>
    </div>
</div>