<div
  class="footer-area-bg"
  style="
    background: rgba(0, 0, 0, 0) url(../../../../assets/images/footer_bg_2.jpg)
      no-repeat scroll center center / cover;
  "
>
  <div class="footer-text">
    <div class="footer-logo">
      <a href="">
        <img src="../../../../assets/images/main_logo.png" alt=""
      /></a>
    </div>
    <div class="footer-address">
      <p>
        20, floor, Queenslad Victoria Building. 60 california street california
        USA
      </p>
      <p><a href="mailto:mehedidb@gmail.com">hello@dawat.com</a></p>
      <p class="phone-number">
        <a href="callto:+8800000001111">+88 000 0000 1111</a>
      </p>
    </div>
    <div class="footer-social-bookmark">
      <ul>
        <li>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-dribbble"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-google-plus"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-flickr"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-pinterest"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-skype"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-menu">
      <ul>
        <li><a href="#">Teams of use</a></li>
        <li><a href="#">Privicy Policy</a></li>
        <li><a href="#">SiteMap</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-copyright">
      <p>© 2017 <a href="#">Dawat Restaurant</a> All Right Reserved.</p>
    </div>
  </div>
</div>
