@import "../../../theme/_base.scss";
@import "./../../../theme/variables";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=PT+Sans+Narrow:wght@400;700&display=swap");
// ::ng-deep .swiper-slide {
//   width: 100% !important;
// }
.promotion-area-bg {
  background: rgba(0, 0, 0, 0)
    url("../../../assets/images/promotions_area_bg_1.jpg") no-repeat scroll
    center center / cover;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  padding: 6rem 0rem;
}
.promotion-area-bg::after {
  background: #000 url("../../../assets/images/pattarn.png");
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
}
.offer-top {
  text-align: center;
  padding-bottom: 3rem;
}
.offer-top h2 {
  color: #ca3d26;
  display: inline-block;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 0.8;
  margin: 0;
  padding: 0 20px 45px;
  position: relative;
  text-transform: capitalize;
  z-index: 2;
}
.offer-top > h2::after {
  background: rgba(0, 0, 0, 0) url("../../../assets/images/red.png") no-repeat
    scroll center center / contain;
  bottom: 0;
  content: "";
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
}
.food-menu-img{
    margin-bottom: -6px;
}
.food-menu-img > img {
    width: 100%;
    height: auto;
  }
  .food-menu-details-two{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    color: #555555;
  }

  .food-menu-details-two > h3 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
}
.food-menu-details-two > h3::after {
    background: #ca3d26 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.post-meta {
    letter-spacing: 1px;
}
.post-meta a {
    margin: 0 10px;
    display: inline-block;
    color: black;
    padding: 1rem 0rem;
}

::ng-deep .blog-swiper .swiper-pagination {
  display: none;
}